*{
    overflow: hidden;
}

.header {
    width: 100%;
    background-image: url("/static/img/header_bg.png");
    background-size: cover;
    background-position: center;
    padding: 0.8rem 2rem;
}

aside {
    position: fixed;
    height: 100vh;
    width: 250px;
    background: #383836;
    color: white;
}

aside h1 {
    margin-bottom: 20px;
    padding: 20px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 4px;
    padding: 20px;
}

nav a:hover,
nav a.active {
    background: #3e4160;
    padding: 20px;
}

section{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-wrap: wrap; 
    gap: 40px; 
    margin-bottom: 40px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: 125px;
}

section div{
    flex: 1; 
    min-width: 300px; 
    max-width: 600px; 
    height: 300px;
}

section div canvas {
    max-height: 240px;
}